*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Custom properties */
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #fbd901;
  --clr-biggerWords: #fcc1bf;

  --fs-h1: 48px;
  --fs-h2: 36px;
  --fs-h3: 20px;
  --fs-body: 16px;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 72px;
    --fs-h2: 60px;
    --fs-h3: 24px;
    --fs-body: 18px;

    --bs: 4px 4px 12px rgba(0, 0, 0, 0.25), 2px 2px 4px rgba(0, 0, 0, 0.15);
  }
}

/* General styles */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 80px 32px;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-biggerWords);
  outline-offset: 3px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 8px 24px;
  background: var(--clr-biggerWords);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 12.8px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
/* this setting up makes possible for the fonts to adapt to the window's size */
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 4px;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 4px 16px;
  font-family: var(--ff-secondary);
  margin-bottom: 16px;
}

/* header */
nav {
  display: none;
}

/* Intro section */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    column-gap: 16px;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -24px;
    width: calc(100% + 24px);
  }
}

/* Tech stack */

.tech-stack {
  background-color: var(--clr-dark);
  background-image: url(../img/full_background.jpg);
  background-size: cover;
  background-blend-mode: hard-light;
  color: var(--clr-light);
  text-align: center;
}

.section__title--skillset {
  color: var(--clr-biggerWords);
  position: relative;
}

.section__title--skillset::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  margin: 8px auto 16px;
  background: var(--clr-light);
  opacity: 0.5;
}

.skillset {
  margin-bottom: 64px;
}

.skills {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .skillset {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .skills + .skills {
    margin-left: 32px;
  }
}
